.message {
    text-align: center;
    border: 1px solid #ffffff;
    background-color: #787878;
    position: absolute;
    border-radius: 10px !important;
    font-size: 1px;
    margin-left: auto;
    margin-right: auto;
    z-index: 200;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 140px;
}

.msgtext {
    color: white;
}