* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f6f6f6;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

header {
    background: #fff;
}

main{
    padding: 20px 0;
    width: 1200px;
    margin: auto;
}

.header_inner{
    width: 1200px;
    margin: auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tab_item {
    display: inline-block;
    padding: 0 8px;
    line-height: 26px;
    cursor: pointer;
    margin-right: 24px;
    margin-bottom: 20px;
}

/* .tab-item, .tabs {
    margin-bottom: 20px;
} */

.tab_active {
    color: #fff;
    background: #31c27c;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 45px 20px;
}

.album a.title {
    color: #000;
}

.album a {
    color: #999;
    text-decoration: none;
}

.album {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 22px;
    color: #999;
}

.cover, .cover>img {
    width: 100%;
}

.cover {
    position: relative;
    margin-bottom: 10px;
}

.nowrap {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.mask img {
    cursor: pointer;
}

.cover:hover .mask {
    visibility: visible;
    opacity: 1;
}