.login-root {
    border-width: 5px;
    border-color: black;
    width: 390px;
    height: 225px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 25px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;

}

.login-head {
    text-align: center;
    font-size: large;
    margin-bottom: 15px;
}

.ant-form-item {
    margin-bottom: 22px;
}

.ant-col.ant-form-item-label {
    align-items: flex-start;
    width: 25%;
}

.ant-form-item-control-input-content {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-left: 25%;
    flex: 3;
}

.button {
    flex: 1;
}

