.header {
    display: flex;
    align-items: center;
}

.header-text {
    font-size: large;
    color: white;
}

.user {
    position: fixed;
    right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
}