* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 58px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}
footer {
    height: 210px;
    background-color: #fafafa;
}
.foologo {
    width: 105px;
    padding-top: 49px;
    padding-left: 20px;
}
.footext {
    margin-top: 28px;
    margin-left: 20px;
}
#menu {
    flex: 1;
}
.menu {
    margin-left: 24px;
}
.menutext {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7%;
    font-family: system-ui;
    font-size: large;
    font-weight: 600;
    color: #6e6d7a;
}
#header-title {
    flex: 1;
}
.header-title {
    display: block;
    margin: auto;
    text-align: center;
}
#login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.login {
    width: 50px;
    margin-right: 24px;
    font-family: system-ui;
    font-size: 15px;
    color: #6e6d7a;
    font-weight: 540;
}

.tabbanner {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#banner {
    margin-top: 68px;
    width: 330px;
}
.banner {
    background-color: #f9f8fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 53px;
    text-align: center;
    width: 302px;
}
.banner-details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    text-align: center;
    width: 323px;
}
.banner-button {
    margin: 19px auto 49px auto;
    text-align: center;
    width: 81px;
    height: 40px;
    border-radius: 10px;
    background-color: #ea4c89;
    padding-top: 10px;
    color: white;
    font-weight: 550;
    font-size: 15px;
    font-family: system-ui;
}

@media screen and (min-width: 768px) {
    .banner {
        flex-direction: row-reverse;
    }
    .banner-text {
        flex: 1;
        align-items: flex-start;
    }
    .banner-head, .banner-details {
        margin-left: 32px;
        text-align: left;
    }
    .banner-head {
        margin-top: 100px;
        width: 200px;
        font-size: 30px;
    }
    .banner-details {
        width: 310px;
        margin-top: 28px;
    }
    .banner-button {
        margin-left: 32px;
        margin-bottom: 92px;
        margin-top: 25px;
    }
    .banner-img {
        flex: 1.15;
        display: flex;
    }
    #banner {
        width: 360px;
        margin: auto;
        margin-left: 0px;
    }
}
@media screen and (min-width: 920px) {

}
@media screen and (min-width: 1366px) {

}
@media screen and (min-width: 1920px) {

}