* {
    font-family: Arial, Helvetica, sans-serif;
}
.list {
    margin: 16px 20px auto 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.post {
    display: flex;
    flex-direction: column;
}
.cover, .cover>img {
    width: 100%;
    height: 100%;
}
.cover {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 10px;
}
.pinfo, .dinfo, .tinfo, .likes, .views {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    overflow: hidden;
}

.pinfo {
    flex: 2.4;
    justify-content: flex-start;
    gap: 7px;
}
.dinfo {
    flex: 1;
    justify-content: flex-end;
    gap: 6px;
}
.likes, .views {
    flex: 1;
    justify-content: flex-end;
    gap: 2px;
}

.poname {
    font-size: 16px;
    font-weight: 545;
}
.avatarimg {
    height: 24px;
    width: 24px;
}
.badge {
    background-color: rgb(206, 206, 206);
    height: 18px;
    border-radius: 4px;
    margin-left: 1px;
}
.badTex {
    color: white;
    font-family: revert;
    font-weight: 800;
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.number {
    font-size: 10px;
}